# Dependencies
node_modules/

# Build outputs
dist/
dist-server/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# Editor
.vscode/
.idea/

# OS files
.DS_Store

# Data is persisted in src/data/dvds.json

#ci/cd
JENKINS-PIPELINE-BUILD